<div class="card">
    <img src="{{ dish.image.url }}" class="card-img-top">
    <div class="card-body container">
        <div class="d-flex flex-row justify-content-around">
            <div>{{ dish.name }}</div>
            <div>{{ dish.category }}</div>
            <div>{{ dish.price }}$</div>
        </div>
        <div class="container-fluid d-flex flex-row -0">
            <img class="like" src="media/hearths/shaped.png" style="width: 2rem; height: 2rem">
            <form action="" style="width: fit-content;">
                <div class="d-flex justify-content-around" style="width: 100%">
                    <input type="number" id="amount" style="width: 20%;">
                    <button role="submit" class="btn btn-success flex-shrink-1" style=" max-width: 60%;%">Заказать
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>